@use "../abstracts" as *;

.no-footer {
  border-top: 1px solid var(--clr-surface-invert-16);
  &__inner {
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-surface-invert-8);
    @include mq(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gp-sm);
    }
  }
  &__privacy {
    display: flex;
    align-items: center;
    gap: var(--gp-3xs);
    @include mq(md) {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      gap: var(--gp-xs);
      li {
        width: 100%;
      }
    }
    > li {
      button {
        padding: 1rem 1.8rem;
        border: 1px solid var(--clr-surface-invert-16);
        @include hasRadius(0.8rem);
        align-items: center;
        + ul {
          position: absolute;
          bottom: 5rem;
          left: 0;
          width: 100%;
          background: var(--clr-surface-100);
          border-radius: 0.8rem;
          border: 1px solid var(--clr-surface-invert-16);
          padding: 0.8rem 0;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);

          transform: translateY(10%);
          opacity: 0;
          visibility: hidden;
          transition: var(--tran-input);
          z-index: 10;
          overflow: auto;
          &.visible {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
          a {
            display: flex;
            align-items: center;
            padding: 0.4rem 1.6rem;
            font-size: var(--fs-body-md);
            height: calc(var(--input-height) * 0.75);
            width: 100%;
            padding: 0.4rem 1.6rem !important;
            &:hover {
              background: var(--clr-surface-16);
            }
          }
        }
        @include mq(lg) {
          width: 100%;
        }
      }
      > a {
        padding: 1rem 1.8rem;
        border: 1px solid var(--clr-surface-invert-16);
        overflow: hidden;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        gap: var(--gp-2xs);
        justify-content: space-between;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: var(--fs-body-sm);
    @include mq(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
  }
  &__address {
  }
  &__logo {
    width: 12.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    width: 100%;
    max-width: 64rem;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--gp-2xs) var(--gp-xs);
      @include mq(md) {
        flex-direction: column;
      }
      li {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }
    }
  }
}
