@use "../abstracts" as *;

.no-footer {
  &-logo {
    position: relative;
    width: fluid(40, 70);
    figure {
      @include flex-center();
    }
  }
  &-menu {
    > ul {
      @include flex-center();
      gap: var(--gap-md);
      > li {
        a {
          font-size: fluid(14, 16);
          font-weight: 500;
        }
      }
    }
  }
  &-top {
    display: flex;
    align-items: center;
    padding: fluid(32, 64) 0 fluid(18, 36) 0;
    justify-content: space-between;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fluid(20, 40) 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    @include mq(sm) {
      flex-direction: column;
      gap: var(--gap-md);
      align-items: flex-start;
    }
  }
  &-info {
    > ul {
      display: flex;
      align-items: center;
      gap: var(--gap-xs);
      max-width: 66rem;
      flex-wrap: wrap;
      font-size: fluid(12, 14);
      @include mq(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
      li {
        display: flex;
        align-items: center;
        gap: var(--gap-xs);
        @include mq(sm) {
          flex-direction: column;
          align-items: flex-start;
        }
        span {
          font-weight: 400;
          opacity: 0.8;
        }
        p {
          font-weight: 500;
        }
      }
    }
  }
  &-social {
    > ul {
      @include flex-center();
      gap: var(--gap-xs);
      li {
        a {
          width: fluid(20, 40);
          height: fluid(20, 40);
          border-radius: 3rem;
          background: rgba(255, 255, 255, 0.08);
          @include flex-center();
          img {
            width: 50%;
          }
        }
      }
    }
  }
}
