@use "../abstracts" as *;

#no-header-single {
  font-family: "Archivo", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  transition: var(--tran-45);
  &.scrolled {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &.visible {
    height: 100%;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

    .no-header-menu {
      opacity: 1;
      pointer-events: inherit;
    }
    .no-header-btn span {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -5px);
      }
    }
  }
  .no-header {
    height: var(--header-height);
    > div {
      height: 100%;
    }
    a {
      color: var(--clr-text-heading);
      @include mq(md) {
        overflow: hidden;
      }
      > div {
        @include mq(md) {
          transform: translateY(150%);
        }
      }
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &-logo {
      position: relative;
      width: fluid(48, 64);
      a {
        figure {
          @include flex-center();
        }
      }
    }
    &-btn {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      display: none;
      z-index: 10000;
      @include mq(md) {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        align-items: center;
        justify-content: center;
      }
      span {
        height: 1.6px;
        width: 100%;
        display: block;
        background: var(--clr-base-white);
        transition: var(--tran-45);
      }
    }
    &-menu {
      @include mq(md) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        justify-content: center;
        will-change: opacity;
        opacity: 0;
        width: 100%;
        padding: 0 calc(var(--gutter-grid-x) * 2);
        transition: var(--tran-45);
        display: flex;
        flex-direction: column;
        pointer-events: none;
      }
    }
    &-gnb {
      display: flex;
      align-items: center;
      gap: var(--gap-sm);
      text-align: center;
      @include mq(md) {
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        width: 100%;
        gap: 0;
      }
      > li {
        position: relative;
        .line {
          width: 0%;
          height: 1px;
          background: var(--clr-base-white);
          position: absolute;
          bottom: 0;
          left: 0;
        }
        @include mq(md) {
          width: 100%;
          padding: var(--pd-xl) 0;
        }
        > a {
          padding: fluid(10, 16) fluid(24, 40);
          font-size: fluid(16, 18);
          font-weight: 500;
          display: block;
          width: 16rem;
          @include mq(md) {
            font-size: fluid(36, 16);
            padding: 0;
            width: 100%;
          }
          &:hover {
          }
        }
      }
    }
    &-lnb {
      position: absolute;
      top: calc(100% + 2rem);
      left: 50%;
      transform: translateX(-50%) translateY(10px);
      width: 100%;
      border-radius: 0.6rem;
      overflow: hidden;
      color: var(--clr-text-heading);
      transition: 0.3s;
      @include flex-center();
      opacity: 0;
      visibility: hidden;
      transition: var(--tran-15);
      flex-direction: column;
      border: 1px solid var(--clr-border-main);
      background: rgba(0, 0, 0, 0.36);
      @include mq(md) {
        opacity: 1;
        visibility: visible;
        position: static;
        transform: inherit;
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--gap-xl);
        border: none;
        border-radius: 0;
        background: transparent;
      }
      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
        @include mq(md) {
          transform: inherit;
        }
      }
      > li {
        width: 100%;
        > a {
          padding: fluid(8, 12) fluid(12, 16);
          display: block;
          transition: var(--tran-15);
          position: relative;
          font-size: fluid(14, 16);
          font-weight: 400;
          background: transparent;
          @include mq(md) {
            font-size: fluid(20, 14);
            opacity: 0.8;
            padding: fluid(12, 16) 0 0 0;
          }
          &:hover {
            background: rgba(149, 157, 165, 0.2);
            @include mq(md) {
              background: transparent;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
