@use "../abstracts" as *;

.no-board {
  .no-skin-gallery {
    .cnt {
      > ul {
        @include mq(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mq(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include mq(xs) {
          grid-template-columns: 1fr;
        }
      }
    }
    &-item {
      a {
        &:hover {
          img {
            transform: scale(1.05);
          }
          h3 {
            color: var(--clr-primary-main);
          }
        }
        img {
          transition: var(--tran-swiper);
        }
      }
      figure {
        @include hasRadius(12px);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      &__txt {
        display: inline-flex;
        flex-direction: column;
        gap: var(--gp-3xs);
        width: 100%;

        span {
          font-size: var(--fs-body-md);
          padding-bottom: 0.4rem;
          border-bottom: 1px solid var(--clr-surface-invert-16);
        }
        h3 {
          @include line-clamp(2);
          transition: var(--tran-swiper);
        }
        .tag {
        }
        > div {
          @include mq(sm) {
            flex-direction: column;
          }
          > div {
            @include mq(sm) {
              width: 100% !important;
            }
          }
        }
      }
    }
    &-wrap {
    }

    .no-form-container {
      > .no-form-row {
        @include mq(xl) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          overflow: hidden;
        }
        > div {
          @include mq(xl) {
            width: 100%;
            &:nth-child(1) {
              border-bottom: 1px solid var(--clr-surface-invert-8);
              padding-bottom: 2rem;
            }
            &:nth-child(2) {
              padding-top: 2rem;
            }
          }
          @include mq(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
          }
        }
      }
    }
    .no-form-head {
      .no-form-row {
        @include mq(md) {
          flex-direction: row;
          gap: 0;
          .no-form-date-wrap {
            border-bottom: 1px solid var(--clr-surface-invert-8);
          }
        }
        @include mq(sm) {
          flex-direction: column-reverse;
        }
      }
    }
  }

  .no-skin-list {
    &-table {
      width: 100%;
      .no-notice-megaphone {
        color: var(--clr-primary-main);
        font-size: fluid(16, 18);
      }
      .no-notice-num {
        @include mq(md) {
          display: none;
        }
      }
      colgroup {
        col {
          @include mq(md) {
            display: none;
          }
        }
      }
      thead {
        th {
          border-bottom: 1px solid var(--clr-surface-invert-24);
          border-right: 0;
        }

        @include mq(md) {
          display: none;
        }
      }

      tbody {
        .body {
          background: transparent;
        }
        tr {
          transition: var(--tran-short);
          &:hover {
            background: var(--clr-surface-invert-16);
          }
          @include mq(md) {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid var(--clr-surface-invert-8);
            padding: 1.5rem 1rem;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
          }
          td {
            border-bottom: 1px solid var(--clr-surface-invert-16);
            border-right: 0;
            .category {
              border: 1px solid var(--clr-primary-main);
              padding: 0.8rem 1.2rem;
              color: var(--clr-primary-main);
              @include hasRadius(50px);
            }

            @include mq(md) {
              display: inline-block;
              padding: 0.4rem 0;
              border: none;
            }

            a {
              @include line-clamp(1);
              &:hover {
                color: var(--clr-primary-main);
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .no-skin-faq {
    &-list {
      display: flex;
      flex-direction: column;
      gap: var(--gp-sm);
      font-size: var(--fs-body-lg);
    }
    &-item {
      @include hasRadius(8px);
      &__title {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        @include mq(md) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }

        h3 {
          flex: 1;
        }
      }

      &__arrow {
        position: relative;
        width: fluid(18, 24);
        height: fluid(18, 24);
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          width: fluid(18, 24);
          height: fluid(1.6, 1.8);
          border-radius: 2rem;
          background: var(--clr-primary-main);
          position: absolute;
          display: block;
          transition: ease all 0.3s;
          &:nth-child(2) {
            transform: rotate(90deg);
          }
        }
        &.--active {
          span {
            &:nth-child(2) {
              transform: rotate(0deg);
            }
          }
        }
      }

      &__icon {
        --width: 3.2rem;
        font-family: var(--fm-title);

        @include mq(md) {
          --width: 2.8rem;
        }

        width: var(--width);
        height: var(--width);
        background-color: var(--clr-primary-main);
        border-radius: 50%;
        @include flex-center();

        &.--dark {
          background: var(--clr-surface-invert-16);
        }

        span {
          color: var(--clr-base-white);
          font-weight: var(--fw-semibold);
        }
      }

      button {
        gap: 2.4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.4rem;
        transition: var(--tran-short);
        background: var(--faq-background);

        @include mq(md) {
          gap: 1.6rem;
          padding: 1.6rem;
        }

        &:hover {
          color: var(--clr-primary-main);
        }
      }

      &.--active {
        button {
          color: var(--clr-primary-main);
        }
        i {
          color: var(--clr-primary-main);
          transform: rotate(180deg);
        }
      }
    }
    &-head {
    }
    &-body {
      display: none;
      * {
        font-size: inherit !important;
        line-height: inherit !important;
        font-family: inherit !important;
        color: inherit !important;
      }
      a {
        display: inline-block !important;
      }
      > div {
        background: var(--tag-background);
        border-top: 1px solid var(--clr-surface-invert-16);
        display: flex;
        gap: 1.6rem;
        padding: 2.4rem;
        padding-bottom: 4.8rem;

        @include mq(md) {
          padding: 1.6rem;
          padding-bottom: 3.2rem;
          flex-direction: column;
        }
      }

      &__content {
        flex: 1;
      }
    }
  }
}
