@use "../abstracts" as *;

.no-main {
  &-hero {
    position: relative;
    .swiper {
      > ul {
        > li {
          height: 100vh;
          figure {
            @include pos-full();
            img {
            }
            @include img-cover();
          }
        }
      }
    }
    &-txt {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}
