@use "../abstracts" as *;

// h1 {
//   font-size: fluid(24, 32);
//   background-color: var(--header-bg);
//   height: var(--header-height);
// }

.no-main {
  &-intro {
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: var(--z-index-intro);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--tran-intro);
    position: fixed;
    top: 0;
    left: 0;
    &-cover {
      background: var(--clr-background-white);
      width: 100%;
      height: 100%;
      @include flex-center();
    }
    &-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fluid(220, 340);
      height: fluid(32, 64);
    }

    &-symbol {
      position: absolute;
      left: 50%;
      // left: 0;
      transform: rotate(180deg);
      width: fluid(32, 48);
      height: fluid(32, 48);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: -100%;
      // bottom: 0;
      // opacity: 1;
      svg {
        width: fluid(32, 48);
      }
    }
    &-txt {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      // opacity: 1;
      svg {
        width: fluid(180, 280);
      }
    }
  }
  &-visual {
    width: 100%;
    height: 100dvh;
    color: var(--clr-text-white);
    position: relative;
    @include mq(lg) {
      height: fluid(480, 1024);
    }
    &__inner {
      height: 100%;
    }
    &-slider {
      height: 100%;
      > ul {
        transition: all cubic-bezier(0.87, 0, 0.13, 1);
      }
      .swiper-slide {
        &-active {
          p,
          h2,
          h3 {
            transform: translateY(0);
          }
        }
      }
      a {
        height: 100%;
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
        figure {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      img {
        transition: var(--tran-swiper);
      }
    }

    &-txt {
      position: absolute;
      bottom: fluid(36, 60);
      width: 100%;
      z-index: var(--z-index-visual-txt);
      pointer-events: none;
      color: var(--clr-text-white);
      &__info {
        display: flex;
        align-items: center;
        gap: fluid(10, 24);
        @include mq(sm) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      p {
        font-weight: 500;
        transform: translateY(100%);
        transition: ease all 1s;
        transition-delay: 0.3s;
      }
      h2 {
        font-weight: 700;
        transform: translateY(100%);
        transition: ease all 1s;
        transition-delay: 0.4s;
      }
      h3 {
        font-weight: 600;
        transform: translateY(100%);
        transition: ease all 1s;
        transition-delay: 0.45s;
      }
    }
    &-backdrop {
      @include backdrop-gradient();
      height: 50%;
      z-index: var(--z-index-visual-bg);
      bottom: 0;
      top: inherit;
    }
    &-etc {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      padding-bottom: fluid(36, 60);
      width: 100%;
      right: 50%;
      align-items: flex-end;
      max-width: 1664px;
      z-index: 100;
      transform: translateX(50%);
      gap: fluid(40, 88);
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--app-gutter);
      padding-right: var(--app-gutter);
      @include mq(xl) {
        width: calc(100% - 4rem);
      }
    }
    &-pagination {
      position: static;
      display: flex;
      justify-content: flex-end;
      gap: var(--gp-2xs);
      @include mq(md) {
        display: block;
        position: absolute;
        bottom: fluid(36, 60);
        right: 0;
        left: inherit;
        width: auto;
        padding: 1rem 1.6rem;
        background: var(--tag-background);
        border-radius: 4rem;
        font-size: 1.4rem;
      }
      @include mq(sm) {
        padding: 0.8rem 1.2rem;
      }
      span {
        background: transparent;
        width: 8rem;
        height: 100%;
        transition: var(--tran-swiper);
        border: 1px solid transparent;
        border-radius: 0;
        opacity: 0.6;
        @include hasRadius(6px);
        img {
        }
      }
      .swiper-pagination-bullet-active {
        border: 1px solid var(--clr-secondary-main);
        transform: translateY(-10px) rotate(-4deg);
        opacity: 1;
        box-shadow: 0 0px 24px rgba(255, 255, 255, 0.16);
      }
    }
  }
  &-works {
    width: 100%;
    position: relative;
    overflow: hidden;
    &__inner {
      width: 100%;
      @include mq(md) {
        padding: 0 2rem;
      }
    }
    &-slider {
      overflow: inherit;
      ul {
        transition: var(--tran-swiper);
      }
      figure {
        position: relative;
        overflow: hidden;
        @include hasRadius(10px);
        img {
          transition: var(--tran-swiper);
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      > ul {
        > li {
          opacity: 0;
          transform: translateY(-100%);
          background: transparent;
          &.swiper-slide-active {
            .no-main-works-link {
              opacity: 1;
              visibility: visible;
            }
            .no-main-works-info {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
    &-gradient {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      img {
        position: absolute;
        width: 50%;
        top: -50%;
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
        }
      }
    }

    &-link {
      position: absolute;
      bottom: 2rem;
      z-index: var(--z-index-visual-txt);
      @include backdrop-gradient();
      height: auto;
      top: inherit;
      bottom: 0;
      z-index: var(--z-index-visual-bg);
      @include flex-center();
      opacity: 0;
      visibility: hidden;
      transition: var(--tran-swiper);
      padding: 4rem 0;
      @include mq(lg) {
        flex-direction: column;
        padding: 0 2rem;
      }
      @include mq(md) {
        padding: 2rem;
      }
      > ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        @include mq(lg) {
          flex-direction: column;
          gap: 0.6rem;
          width: 100%;
          li {
            width: 100%;

            a {
              width: 100%;
            }
          }
        }
      }
    }

    &-info {
      opacity: 0;
      visibility: hidden;
      transition: var(--tran-swiper);
      h3 {
        @include line-clamp(2);
      }
      &__etc {
      }
      &__tag {
        > ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          @include mq(md) {
            grid-template-columns: 1fr;
            gap: 0.6rem;
          }

          li {
          }
        }
      }
    }
    &-pagination {
      position: static;
      span {
        background: var(--clr-surface-invert-100);
      }
    }
    &-button {
      .swiper-button-next {
        &:hover {
          transform: scale(1.1);
        }
      }
      .swiper-button-prev {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &-service {
    width: 100%;
    .cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--app-gutter);
        @include mq(xl) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mq(md) {
          grid-template-columns: repeat(2, 1fr);
        }

        li {
          a {
            flex-direction: column;
            @include flex-center();
            text-align: center;
            background: var(--card-background);
            padding: 5rem;
            border-radius: 1.2rem;
            transition: var(--tran-card);
            border: 1px solid transparent;
            width: 100%;
            position: relative;
            @include blur();
            @include mq(lg) {
              padding: 4rem;
            }
            @include mq(sm) {
              padding: 2rem;
            }
            @include mq(xs) {
              padding: 1.6rem;
            }
            &:hover {
              border: 1px solid var(--clr-background-invert);
              .arrow {
                opacity: 1;
                visibility: visible;
                bottom: 10%;
                @include mq(sm) {
                  opacity: 0;
                  visibility: hidden;
                }
              }
              .icon {
                svg {
                  fill: var(--clr-secondary-main) !important;
                  path {
                    fill: var(--clr-secondary-main) !important;
                  }
                }
              }
              .wrap {
                transform: translateY(-20%);
                @include mq(sm) {
                  transform: translateY(0);
                }
              }
            }
            .wrap {
              display: flex;
              flex-direction: column;
              gap: fluid(16, 20);
              transition: var(--tran-card);
            }
            .icon {
              svg {
                width: fluid(40, 80);
                height: fluid(40, 80);
                path {
                  transition: var(--tran-card);
                  fill: var(--clr-background-invert);
                }
              }
            }
            .txt {
              h4 {
                font-size: fluid(18, 24);
              }
            }
            .arrow {
              font-size: fluid(24, 30);
              opacity: 0;
              visibility: hidden;
              position: absolute;
              bottom: 0;
              transition: var(--tran-card);
            }

            span {
              font-family: var(--fm-en);
              font-size: fluid(12, 14);
            }
          }
        }
      }
    }
  }
  &-sponsor {
    width: 100%;
    .cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--app-gutter);
        @include mq(lg) {
          grid-template-columns: 1fr;
        }
        > li {
          padding: 4rem;
          background: var(--card-background);
          border-radius: fluid(10, 16);
          @include blur();
          ul {
            display: flex;
            align-items: center;
            gap: var(--app-gutter);
            @include mq(sm) {
              flex-direction: column;
              align-items: flex-start;
            }
            li {
              .logo {
                a {
                  width: fluid(120, 180);
                  padding: 0;
                  height: fluid(30, 45);
                  @include mq(sm) {
                    width: 100%;
                    height: 100%;
                    max-width: 18rem;
                  }
                  img {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-marquee {
    opacity: 0.84;
    &__container {
      width: 100%;
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      gap: 2.4rem;
    }
    &__content {
      display: flex;
      gap: 2.4rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
    span {
      /* 그라디언트 텍스트 적용 */
      background: linear-gradient(90deg, #fff, var(--clr-primary-main), #fff);
      background-size: 200% 200%; // 배경 크기를 늘려 그라디언트 이동 공간 확보
      background-clip: text;
      -webkit-background-clip: text; // WebKit 브라우저 호환성
      color: transparent; // 텍스트 색상을 투명하게 설정
      -webkit-text-fill-color: transparent; // WebKit 브라우저 호환성

      animation: gradientFlow 30s linear infinite; // 애니메이션 속도와 반복 설정
      /* 반응형 글자 간격 */
      letter-spacing: -5px;

      @include mq(lg) {
        letter-spacing: -2px;
      }
    }
  }
}
