@use "../abstracts" as *;

.no-main {
  &-hero {
    width: 100%;
    height: 100dvh;
    transition: all 1.4s cubic-bezier(0.6, 0, 0.4, 1);
    &-swiper {
      height: 100%;
      ul {
        height: 100%;
        .swiper-slide-active {
          h3 {
            opacity: 1;
            visibility: visible;
          }
        }
        li {
          img {
            height: 100%;
            object-fit: cover;
          }
          figure {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h3 {
              margin-bottom: fluid(10, 16);
            }
          }
        }
      }
    }
    &-btn {
      display: flex;
      gap: fluid(12, 24);
      @include mq(md) {
        display: none;
      }
      div {
        position: static;
        margin: 0;
      }
    }
    &-pagination {
      div {
        position: relative;
        bottom: 0 !important;
        top: 0 !important;
        span {
          background: var(--clr-base-white);
          width: fluid(36, 54);
          height: 4px;
          border-radius: 1px;
        }
      }
    }
    &-else {
      position: absolute;
      bottom: 33.3%;
      display: flex;
      align-items: center;
      gap: fluid(24, 40);
      @include mq(xl) {
        bottom: 36%;
      }
      @include mq(lg) {
        bottom: 2rem;
      }
    }
  }
  &-about {
    .--cnt {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-2xl);
      @include mq(md) {
        grid-template-columns: 1fr;
      }
      .img {
        img {
          height: 100%;
        }
      }
    }
  }
  &-service {
    .--cnt {
      > ul {
        display: flex;
        flex-direction: column;
        gap: fluid(24, 48);
        > li {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include mq(md) {
            grid-template-columns: 1fr;
          }
          &:nth-child(even) {
            .img {
              order: 2;
              @include mq(md) {
                order: inherit;
              }
            }
          }
          .txt {
            background: var(--clr-surface-light);
            padding: fluid(20, 64) fluid(24, 80);
            a {
              justify-content: flex-start;
            }
          }
          .img {
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
  &-case {
    background-image: url(/resource/images/main/main_case_bg.png);
    .--cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gutter-grid-x);
        @include mq(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include mq(sm) {
          grid-template-columns: 1fr;
        }
        > li {
          background: var(--clr-surface-main);
          border: 2px solid transparent;
          transition: var(--tran-45);
          &:hover {
            border: 2px solid var(--clr-primary-outline);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
          a {
            display: block;
            figure {
              img {
                display: block;
              }
            }
            .txt {
              padding: fluid(24, 32) fluid(28, 36);
              p {
                @include line-clamp(2);
              }
            }
          }
        }
      }
    }
  }
  &-certi {
    background-image: url(/resource/images/main/main_certi_bg.png);
    .--cnt {
      .line {
        width: 4px;
        height: 16rem;
        background: var(--clr-primary-outline);
        @include flex-center();
        margin: 0 auto;
      }
    }
  }
  &-process {
    background-image: url(/resource/images/main/main_process_bg.png);
    hgroup {
      color: var(--clr-base-white);
      p {
        color: var(--clr-base-white);
      }
    }
    .--cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap-xl);
        @include mq(md) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mq(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
        > li {
          > div {
            position: relative;
            overflow: inherit;
            height: 100%;
            > span {
              position: absolute;
              right: fluid(20, 44);
              top: fluid(20, 28);
              opacity: 16%;
              color: var(--clr-primary-focus);
            }
            &::before {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(90%, -50%);
              width: fluid(24, 52);
              height: fluid(4.5, 10);
              background: url(/resource/images/common/process_arrow.png);
              z-index: 1;
              background-size: contain;
            }
          }
          &:nth-child(4),
          &:nth-child(8) {
            > div {
              &::before {
                display: none;
              }
            }
          }
          @include mq(md) {
            &:nth-child(3) {
              > div {
                &::before {
                  display: none;
                }
              }
            }
            &:nth-child(4) {
              > div {
                &::before {
                  display: block;
                }
              }
            }
            &:nth-child(6) {
              > div {
                &::before {
                  display: none;
                }
              }
            }
          }
          @include mq(sm) {
            &:nth-child(2),
            &:nth-child(4) {
              > div {
                &::before {
                  display: none;
                }
              }
            }
            &:nth-child(3) {
              > div {
                &::before {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  &-youtube {
    overflow: hidden;
    .--cnt {
      .swiper {
        overflow: inherit;
        > ul {
          > li {
            a {
              width: 100%;
              figure {
                @include img-auto-cover(56.25%);
              }
              .txt {
                h4 {
                  @include line-clamp(1);
                }
              }
            }
          }
        }
      }
      .swiper-button-next {
        transform: translateX(50%);
        right: 0;
      }
      .swiper-button-prev {
        transform: translateX(-50%);
        left: 0;
      }
      .swiper-pagination {
        position: static;
        margin-top: fluid(36, 60);
      }
    }
  }
  &-contact {
    background-image: url(/resource/images/main/main_contact_bg.png);
    hgroup {
      color: var(--clr-base-white);
    }
    .--cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-xl);
        @include mq(lg) {
          grid-template-columns: 1fr;
        }
        > li {
        }
      }
      .live-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: fluid(18, 24);
        border-bottom: 1px solid var(--clr-gray-outline);
      }
      .--listing-table {
        height: fluid(240, 600);
        overflow: auto;
        thead {
          transition: var(--tran-45);
        }
        &.is-scrolled {
          thead {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          }
        }
      }
    }
  }
  &-info {
    > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include mq(sm) {
        grid-template-columns: 1fr;
      }
      > li {
        &.map {
          width: 100%;
          height: 100%;
          @include mq(lg) {
            height: 100%;
          }
          @include mq(sm) {
            height: 48rem;
          }
          > div {
            height: 100%;
            width: 100%;
            .wrap_map {
              height: 100%;
            }
            .wrap_controllers,
            .cont {
              display: none;
            }
          }
        }
        &.info {
          padding: 0 fluid(48, 188) 0 fluid(64, 300);
          @include mq(lg) {
            padding: 0;
          }
          .--cnt {
            ul {
              display: flex;
              flex-direction: column;
              gap: fluid(12, 20);
              margin-top: fluid(12, 20);
              li {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: var(--body-xl-fs);
                gap: fluid(10, 16);
                .title {
                  width: fluid(80, 108);
                  display: flex;
                  align-items: center;
                  gap: fluid(6, 10);
                  color: var(--clr-primary-main);
                }
                span {
                }
              }
            }
          }
        }
      }
    }
  }
}
