@use "../abstracts" as *;
main {
  position: relative;
}
.no-sub {
  &-breadcrumb {
    position: absolute;
    top: fluid(12, 64);
    nav {
      ul {
        display: flex;
        align-items: center;
        gap: fluid(10, 14);
        li {
          &:last-child {
            color: var(--clr-primary-main);
          }
        }
      }
    }
  }
  &-visual {
    width: 100%;
    position: relative;
    height: fluid(140, 420);
    margin-top: var(--header-height);
    overflow: hidden;
    &-txt {
      position: absolute;
      top: 50%;
      overflow: hidden;
      padding: 4rem 0;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      &-p {
        position: absolute;
        text-transform: uppercase;
        color: var(--clr-text-body);
        width: 84.375%;
        padding-left: var(--app-gutter);
        padding-right: var(--app-gutter);
        top: 50%;
        right: 5%;
        text-align: end;
        white-space: nowrap;
        transform: translatey(-50%);
        @include mq(lg) {
          letter-spacing: -0.02em;
        }
        @include mq(md) {
          display: none;
        }
      }
      &-h2 {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--app-gutter);
        padding-right: var(--app-gutter);
      }
    }
    h2 {
      transform: translateY(100%);
    }
    p {
      opacity: 0;
      right: -120%;
      visibility: visible;
      position: relative;
    }
    &-works {
      h2 {
        width: 100%;
        text-align: center;
      }
      .no-sub-visual-txt-p {
        text-align: center;
        right: 0;
        width: 100%;
      }
      p {
        width: auto;
      }
    }
  }
  &-nav {
    border-bottom: 1px solid var(--clr-surface-invert-16);
    height: var(--lnb-height);

    &-slider {
      height: 100%;
      > div {
        > div {
          height: 100%;
          width: auto !important;
          a {
            height: 100%;
            padding: 1.6rem 2.4rem;
            border-bottom: 3px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            opacity: 0.64;
            transition: var(--tran-button);
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 3px;
              background: var(--clr-surface-invert-100);
              transition: var(--tran-swiper);
            }
            &:hover {
              opacity: 1;
              &::before {
                width: 100%;
              }
            }
            &.active {
              border-bottom: 3px solid var(--clr-surface-invert-100);
              opacity: 1;
            }
          }
        }
      }
      &-line {
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--clr-base-white);
        height: 2px;
      }
    }
  }
  &-tab {
    overflow: hidden;
    &.sticky {
      position: sticky;
      top: var(--header-height);
      padding: 2rem 0;
      z-index: 10;
      background: var(--clr-background-primary);
    }
    &-container {
      height: 4.8rem;
    }
    &-slider {
      > ul {
        > li {
          width: auto !important;
          button {
            transition: var(--tran-button);
            background: var(--category-background) !important;
            &.active {
              background: var(--clr-primary-main) !important;
              color: var(--clr-primary-on);
            }
          }
        }
      }
    }
    &-contents {
      &-slider {
        overflow: inherit;
        img {
          aspect-ratio: 16/9;
        }
        > .swiper-button-next {
          transform: translateX(50%);
          &:hover {
            transform: translateX(50%) scale(1.1);
          }
        }
        > .swiper-button-prev {
          transform: translateX(-50%);
          &:hover {
            transform: translateX(-50%) scale(1.1);
          }
        }
        > ul {
          transition: var(--tran-swiper);
          .swiper-slide-active {
            opacity: 1;
          }
          > li {
            opacity: 0.24;
            transition: var(--tran-swiper);
            figure {
              @include hasRadius(12px);
            }
          }
        }
      }
      > ul {
        > li {
          display: none;
        }
      }
      &__info {
        display: grid;
        grid-template-columns: 4fr 8fr;
        position: relative;
        gap: calc(var(--app-gutter) * 2);
        @include mq(lg) {
          grid-template-columns: 1fr;
          gap: var(--app-gutter);
        }
      }
      &__title {
        a {
          margin-top: fluid(24, 48);
          @include mq(md) {
            position: absolute;
            bottom: 0;
          }
        }
        @include mq(lg) {
          display: flex;
          justify-content: space-between;
          gap: var(--app-gutter);

          a {
            margin: 0;
          }
        }
        @include mq(md) {
          flex-direction: column;
        }
      }
      &__desc {
        font-size: fluid(15, 18);
        ul {
          display: flex;
          flex-direction: column;
          gap: fluid(8, 12);
          li {
          }
        }
      }
      &__chart {
      }
    }
    &-table {
      > ul {
        display: flex;
        flex-direction: column;
        border-top: 2px solid var(--clr-surface-invert-24);
        > li {
          padding: 2rem 0;
          display: grid;
          grid-template-columns: 2fr 10fr;
          border-bottom: 1px solid var(--clr-surface-invert-16);
          align-items: center;
          h4 {
            font-size: var(--fs-body-xl);
            font-weight: var(--fw-semibold);
          }
          @include mq(md) {
            padding: 1.6rem 0;
            gap: 1rem;
            grid-template-columns: 1fr;
          }
        }
      }
      &__title {
      }
      &__info {
        ul {
          display: flex;
          align-items: center;
          gap: fluid(10, 14);
          li {
            p {
              span {
                font-weight: var(--fw-semibold);
              }
            }
          }
        }
      }
    }
    &-chart {
      width: 100%;
      .swiper-button {
        &:hover {
          transform: scale(1.1);
        }
        @include mq(md) {
          display: none;
        }
      }
      &-info {
        display: grid;
        grid-template-columns: 4fr 8fr;
        gap: calc(var(--app-gutter) * 2);
        @include mq(md) {
          grid-template-columns: 1fr;
          gap: var(--app-gutter);
        }
      }
      &-slider {
        &-thum {
          .swiper-slide-thumb-active {
            button {
              border: 1px solid var(--clr-surface-invert-100);
              background: var(--clr-surface-invert-16);
            }
          }
          button {
            background: var(--clr-surface-invert-8);
            padding: 2rem;
            border: 1px solid transparent;
            transition: var(--tran-button);
            @include hasRadius(10px);
            &.clicked {
              border: 1px solid var(--clr-surface-invert-100);
            }
          }
        }
        .swiper-button {
          &-next {
          }
          &-prev {
          }
        }
      }
      &-title {
        h2 {
          span {
            font-family: var(--fm-title);
          }
        }
      }
      &-table {
        > ul {
          > li {
            display: grid;
            grid-template-columns: 4fr 8fr;
            @include mq(sm) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
  &-category {
    overflow: hidden;
    &-slider {
      > ul {
        > li {
          width: auto !important;
        }
      }
    }
  }

  &-intro {
    position: relative;
    width: 100%;
    &-container {
      width: 100%;
      height: 100dvh;
      position: relative;
      overflow: hidden;
    }
    .show-1 {
      width: fluid(240, 480);
      height: fluid(240, 480);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%); /* 화면 아래로 이동 */
      border: fluid(6, 24) solid var(--clr-primary-main);
      .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        h2 {
          font-family: var(--fm-title);
          text-align: center;
          font-weight: var(--fw-bold);
          div {
            display: block;
          }
        }
      }
      &-container {
        width: 100%;
        height: 100%;
      }
      .img {
        height: 100%;
        opacity: 0; /* 초기 투명도 */
        img {
          height: 100%;
        }
      }
      .scroll-down {
        opacity: 0;
        visibility: hidden;
      }
      .show-1-bg {
        @include backdrop();
        opacity: 0;
        z-index: 1;
      }
    }
    .show-2 {
      width: 100%;
      position: relative;
      height: 100dvh;
      overflow: hidden;
      @include mq(md) {
        height: 100%;
        padding: var(--pd-2xl) 0;
        clip-path: none;
      }
      clip-path: polygon(
        50% 0%,
        50% 0%,
        50% 100%,
        50% 100%
      ); /* 초기값: 중앙에 가려짐 */
      transition: clip-path 1s ease;
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        > div {
          &:last-child p {
            padding-bottom: 0;
          }
        }
        p {
          font-size: var(--fs-heading-md);
          font-weight: var(--fw-semibold);
          padding-bottom: var(--pd-md);
          transform: translateY(150%);
          @include mq(md) {
            transform: translateY(0);
            font-size: fluid(16, 20);
            br {
              display: none;
            }
          }
        }
      }
      .image {
        height: 100%;
        @include mq(md) {
          height: 100dvh;
        }
        img {
          height: 100%;
        }
      }
      &-bg {
        @include backdrop(0.88);
        z-index: 1;
        @include mq(md) {
          @include backdrop(0.24);
        }
      }
    }

    // &-container {
    //   height: 100%;
    //   width: 100%;
    //   position: relative;
    // }
    // .show-1 {
    //   position: relative;
    //   bottom: -100%;
    //   transform: scale(0.5);
    //   @include hasRadius(24px);
    //   height: 100dvh;
    //   &-content {
    //     height: 100%;
    //   }
    //   .char-text {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 100%;
    //     z-index: 2;
    //     overflow: hidden;
    //     h2 {
    //       @include flex-center();
    //       font-family: var(--fm-title);
    //       font-weight: var(--fw-bold);
    //       span {
    //         opacity: 0;
    //         transform: translateY(100%);
    //       }
    //     }
    //   }
    //   .image {
    //     height: 100%;
    //     img {
    //       height: 100%;
    //     }
    //   }
    // }
    // .clip-path {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100dvh;
    //   clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    //   background: transparent;
    //   z-index: 10;
    //   will-change: clip-path;
    //   transition: all 1s ease-in-out;
    // }
    // .show-2 {
    //   height: 100%;
    //   img {
    //     height: 100%;
    //   }
    //   .bg {
    //     background: rgba(0, 0, 0, 0.24);
    //   }
    //   &-text {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: var(--gp-sm);
    //     text-align: center;
    //     z-index: 10;
    //     width: 100%;
    //     height: 100%;
    //     max-width: 1320px;
    //     word-break: keep-all;
    //     &-inner {
    //       position: absolute;
    //       width: 100%;
    //       bottom: -150%;
    //     }
    //     p {
    //       opacity: 0.24;
    //       visibility: hidden;
    //       font-weight: var(--fw-medium);
    //       line-height: 1.41;
    //       font-size: fluid(16, 32);
    //       padding-bottom: 10vw;
    //       transform: translateY(100%);
    //       word-break: keep-all;
    //       @include mq(md) {
    //         padding-right: var(--app-gutter);
    //         padding-left: var(--app-gutter);
    //         br {
    //           display: none;
    //         }
    //       }
    //     }
    //   }
    // }
    // .bg {
    //   @include backdrop();
    //   background: rgba(0, 0, 0, 0);
    //   z-index: 1;
    // }
    &-interpark {
      &-title {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        @include mq(md) {
          p {
            display: none;
          }
        }
      }
      &-desc {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--app-gutter);

        > div {
          grid-column: 5 / span 12;
          display: flex;
          flex-direction: column;
          gap: var(--gp-sm);
          @include mq(md) {
            grid-column: 1 / span 12;
            font-size: fluid(16, 20);
          }
        }

        p {
        }
      }
    }

    &-ci {
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gp-sm);
        padding: var(--pd-md) 0;
        border-bottom: 1px solid var(--clr-surface-invert-16);
        border-top: 1px solid var(--clr-surface-invert-16);
        @include mq(md) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &-row {
        display: grid;
        grid-template-columns: 4fr 8fr;
        gap: var(--gp-sm);
        @include mq(md) {
          grid-template-columns: 1fr;
        }

        > ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: var(--gp-sm);
          color: var(--clr-text-white);
          @include mq(xs) {
            grid-template-columns: 1fr;
          }
          .logo {
            align-items: center;
            justify-content: center;
            &-vertical {
              img {
                width: 85%;
              }
            }
            &-horizontal {
              img {
                width: 70%;
              }
            }
          }
          > li {
            @include hasRadius(12px);
            height: fluid(240, 320);
            padding: var(--pd-sm);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 10px var(--clr-surface-invert-16);
            p {
              font-size: fluid(20, 28);
            }
            ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: var(--gp-sm);
            }
          }
          .primary-gray {
            background: #353b40;
          }
        }
      }
    }
    &-bi {
      > ul {
        display: flex;
        > li {
          width: 100%;
          position: relative;
          img {
            position: absolute;
            width: 10rem;
            right: 2rem;
            top: 4rem;
          }
          ul {
            display: flex;
          }
        }
      }
    }
  }
  &-fac {
    width: 100%;
    &-contents {
      overflow-x: hidden;
    }
  }
  &-process {
    width: 100%;
    .--card {
      padding: 3.6rem;
    }
  }

  &-fee {
    .--box {
      padding: 5.4rem 6rem;
      @include mq(lg) {
        padding: 4rem 5.4rem;
      }
      @include mq(md) {
        padding: 3.2rem 4.8rem;
      }
      @include mq(sm) {
        padding: 3rem 3.6rem;
      }
    }
  }
  &-docx {
    width: 100%;
    .cnt {
      > div {
        border-bottom: 1px solid var(--clr-surface-invert-16);
        &:nth-child(1) {
          padding-top: 0;
        }
      }
    }
  }
  &-inquiry {
    &-none {
      height: calc(100dvh - var(--header-height));
      width: 100%;
      margin-top: var(--header-height);
      @include flex-center();
      &__inner {
        @include flex-center();
        flex-direction: column;
        .icon {
          width: fluid(120, 240);
          height: fluid(120, 240);
        }
        .txt {
        }
      }
    }
    .no-form-group {
      width: 100%;
    }
  }
  &-contact {
    width: 100%;
    #map {
      height: fluid(240, 600);
      background: var(--clr-surface-invert-16);
      @include hasRadius(24px);
      > div {
        height: 100%;
        width: 100%;
        > div {
          height: 100%;
        }
      }
    }
    .cnt {
      > ul {
        > li {
          border-bottom: 1px solid var(--clr-surface-invert-16);
        }
      }
    }
  }
  &-search {
    &__input {
      .no-form-search {
        width: 100%;
        max-width: none;
      }
    }
    &__result {
      .no-sub-search__list {
        li {
          transition: var(--tran-short);
          &:hover {
            background: var(--clr-surface-invert-16);
          }
          a {
            h5 {
              font-weight: var(--fw-semibold);
            }
          }
        }
      }
    }
  }
  &-parking {
    .--box {
      padding: 4rem 6rem;
      @include mq(lg) {
        padding: 3rem 4.8rem;
      }
      @include mq(md) {
        padding: 2.4rem 3rem;
      }
      > ul {
        > li {
          border-bottom: 1px solid var(--clr-surface-invert-16);
          padding-bottom: var(--pd-sm);
          &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
          }
        }
      }
    }
    .no-btn-arrow {
    }
  }
  &-floor {
    .no-sub-tab-contents {
      width: 100%;
      > ul {
        > li {
          > div {
            display: grid;
            grid-template-columns: 2fr 10fr;
            gap: var(--app-gutter);
            @include mq(lg) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
    .no-nest-tab-contents {
      > ul {
        > li {
          > div {
            display: grid;
            grid-template-columns: 10fr 2fr;
            gap: var(--app-gutter);
            @include mq(md) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
    &-tab {
      display: block;
      @include mq(lg) {
        > ul {
          display: flex;
          gap: var(--gp-sm);
        }
      }
      @include mq(md) {
        > ul {
          flex-wrap: wrap;
        }
      }
      &-wrap {
      }
    }
    &-map {
      @include hasRadius(6px);
      position: relative;
      &-info {
        width: 100%;
        background: var(--card-background);
        @include hasRadius(6px);
        @include blur(12px);
        padding: 2.4rem 2rem;
        > ul {
          padding: var(--pd-sm) 0;
          border-bottom: 1px solid var(--clr-surface-invert-16);
        }
      }

      &-button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        ul {
          height: 100%;
          li {
            height: 100%;
            button {
              position: absolute;
              transition: var(--tran-button);
              &:hover {
                background: rgba(0, 0, 0, 0.24);
              }
            }
          }
        }
      }
    }

    .shinhan-card {
      .no-sub-floor-3f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;
            &:nth-child(1) {
              button {
                width: 16%;
                height: 61%;
                left: 0;
                top: 0;
              }
            }
            &:nth-child(2) {
              button {
                width: 82%;
                height: 32%;
                right: 0;
                bottom: 0;
              }
            }
          }
        }
      }
      .no-sub-floor-2f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 13.5%;
                height: 34%;
                left: 0%;
                top: 41%;
              }
            }
            &:nth-child(2) {
              button {
                width: 12%;
                height: 19%;
                left: 24%;
                bottom: 11%;
              }
            }
          }
        }
      }
      .no-sub-floor-1f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 19%;
                height: 41%;
                left: 0;
                top: 0;
              }
            }
            &:nth-child(2) {
              button {
                width: 48%;
                height: 55%;
                left: 31%;
                bottom: 12%;
              }
            }
            &:nth-child(3) {
              button {
                width: 13.4%;
                height: 25%;
                right: 0%;
                bottom: 0;
              }
            }
          }
        }
      }
      .no-sub-floor-lf-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 48%;
                height: 55%;
                left: 31%;
                bottom: 12%;
              }
            }
          }
        }
      }
      .no-sub-floor-b1f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 48%;
                height: 55%;
                left: 31%;
                bottom: 12%;
              }
            }
            &:nth-child(2) {
              button {
                width: 12.8%;
                height: 6%;
                left: 0;
                bottom: 0;
              }
            }
          }
        }
      }
    }
    .master-card {
      .no-sub-floor-b1f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 39%;
                height: 54%;
                right: 27%;
                bottom: 28%;
              }
            }
            &:nth-child(2) {
              button {
                width: 14%;
                height: 16%;
                left: 17.5%;
                top: 0%;
              }
            }
          }
        }
      }
      .no-sub-floor-b3f-button {
        width: 100%;
        height: 100%;
        ul {
          height: 100%;
          li {
            height: 100%;

            &:nth-child(1) {
              button {
                width: 39%;
                height: 54%;
                right: 27%;
                bottom: 28%;
              }
            }
            &:nth-child(2) {
              button {
                width: 14%;
                height: 16%;
                left: 10%;
                bottom: 0%;
              }
            }
          }
        }
      }
    }
  }
}
