@use "../abstracts/" as *;

.no-sub {
  &-intro {
    .--cnt {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-xl);
      align-items: center;
      @include mq(md) {
        grid-template-columns: 1fr;
      }
      .img {
        img {
          display: block;
        }
      }
    }
  }
  &-work {
    .--cnt {
      > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-md);
        @include mq(md) {
          grid-template-columns: 1fr;
        }
        > li {
        }
      }
    }
  }
  &-why {
    background-image: url("/resource/images/main/main_process_bg.png");
    color: var(--clr-base-white);
    p {
      color: var(--clr-base-white);
    }
    .--cnt {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap-md);
      @include mq(md) {
        grid-template-columns: 1fr;
        gap: var(--gap-xl);
      }
      .--section-title-wrap {
        align-items: inherit;
        position: sticky;
        top: 0;
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        li {
          display: flex;
          align-items: center;
          gap: var(--gap-md);
          padding: fluid(6, 10) fluid(12, 16) fluid(6, 10) fluid(6, 10);
          border-radius: 3rem;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(24px);
          -webkit-backdrop-filter: blur(24px);
          span {
            font-size: var(--body-xl-fs);
          }
          p {
            font-size: var(--heading-xs-fs);
            font-weight: 600;
          }
        }
      }
    }
  }
  &-banner {
    height: fluid(320, 640);
    background-image: url(/resource/images/sub/sub_banner.png);
    color: var(--clr-base-white);
    p {
      color: var(--clr-base-white);
    }
    > div {
      height: 100%;
      > div {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
