@use "../functions" as *;

$typography: (
  display: (
    xl: (
      fm: var(--family-display),
      fs: fluid(82, 288),
      fw: 700,
      lh: 1.08,
      ls: 0,
    ),
    //CREATORS-TITLE && MAIN-CONTACT-TITLE
    lg:
      (
        fm: var(--family-display),
        fs: fluid(56, 188),
        fw: 700,
        lh: 1.08,
        ls: 0,
      ),
    //VISUAL-TITLE && SUB-VISUAL-TITLE
    md:
      (
        fm: var(--family-display),
        fs: fluid(36, 128),
        fw: 700,
        lh: 1.08,
        ls: 0,
      ),
    //SECTION-TITLE
    sm:
      (
        fm: var(--family-display),
        fs: fluid(28, 96),
        fw: 700,
        lh: 1.08,
        ls: 0,
      ),
    xs: (
      fm: var(--family-display),
      fs: fluid(32, 72),
      fw: 700,
      lh: 1.08,
      ls: 0,
    ),
  ),
  heading: (
    xl: (
      fm: var(--family-heading),
      fs: fluid(28, 64),
      fw: 600,
      lh: 1.3,
      ls: 0,
    ),
    lg: (
      fm: var(--family-heading),
      fs: fluid(24, 48),
      fw: 600,
      lh: 1.35,
      ls: 0,
    ),
    md: (
      fm: var(--family-heading),
      fs: fluid(20, 36),
      fw: 600,
      lh: 1.4,
      ls: 0,
    ),
    sm: (
      fm: var(--family-heading),
      fs: fluid(17, 28),
      fw: 600,
      lh: 1.45,
      ls: 0,
    ),
    xs: (
      fm: var(--family-heading),
      fs: fluid(16, 24),
      fw: 600,
      lh: 1.5,
      ls: 0,
    ),
  ),
  body: (
    xl: (
      fm: var(--family-body),
      fs: fluid(15, 20),
      fw: 400,
      lh: 1.6,
      ls: 0,
    ),
    lg: (
      fm: var(--family-body),
      fs: fluid(14, 18),
      fw: 400,
      lh: 1.6,
      ls: 0,
    ),
    md: (
      fm: var(--family-body),
      fs: fluid(13, 16),
      fw: 400,
      lh: 1.6,
      ls: 0,
    ),
    sm: (
      fm: var(--family-body),
      fs: fluid(12, 14),
      fw: 400,
      lh: 1.55,
      ls: 0,
    ),
    xs: (
      fm: var(--family-body),
      fs: fluid(10, 12),
      fw: 400,
      lh: 1.5,
      ls: 0,
    ),
  ),
);
