@use "../abstracts" as *;

@keyframes ripple-animation {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 120%;
    opacity: 0;
  }
}

@keyframes ripple-floor-animation {
  0% {
    width: 0%;
    height: 0%;
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 120%;
    opacity: 0;
  }
}

// 배경색과 화이트 계열 박스 그림자 애니메이션 정의
@keyframes backgroundAndShadowChange {
  0% {
    background-color: rgb(19, 119, 162);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2);
  }
  50% {
    background-color: rgba(21, 163, 223, 1);
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.4); // 그림자 확장 및 투명도 증가
  }
  100% {
    background-color: rgb(19, 119, 162);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.2);
  }
}
/* 그라디언트 애니메이션 키프레임 정의 */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes pinkOneAnimation {
  0% {
    top: -200px;
    transform: scaleX(50%) translateX(0);
  }
  25% {
    top: -110px;
    transform: scaleX(50%) translateX(0);
  }
  50% {
    top: -120px;
    transform: scaleX(225%) translateX(10%);
  }
  100% {
    top: -135px;
    background: #e44cbb;
    transform: scaleX(225%) translateX(0);
  }
}

@keyframes yellowAnimation {
  0% {
    top: -75px;
    right: 10vw;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -30px;
    right: 0;
  }
}
