@use "../abstracts" as *;

@keyframes scrolldown {
  0% {
    background-position: 0 fluid(-40, -80);
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 fluid(40, 80);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes sweep {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
