@use "../abstracts" as *;

%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.2rem 1.6rem;
  border-radius: 4rem;
  font-size: fluid(12, 16);
  gap: 1rem;
  overflow: hidden;
  transition: var(--tran-button);
  @include mq(md) {
    padding: 1rem 1.4rem;
  }
  @include mq(sm) {
    padding: 0.8rem 1.2rem;
  }
}

%form-control {
  @include flex-center();
  border-radius: 5rem;
  border: 2px solid var(--clr-surface-invert-72);
  outline: none;
  background: rgba(0, 0, 0, 0);
  transition: ease all 0.6s;
  font-size: var(--fs-body-md);
  width: 5.5rem;
  height: 5.5rem;
}

%base-input {
  border-radius: 0.8rem;
  height: var(--input-height);
  border: 1px solid var(--clr-surface-invert-24);
  width: 100%;
  padding: 0 1.6rem;
  outline: none;
  background: transparent;
  transition: var(--tran-input);
  font-size: var(--fs-body-md);
  &:focus {
    border-color: var(--clr-surface-invert-88);
    box-shadow: 0 0 0 3px var(--clr-surface-invert-24);
  }
  &:hover {
    box-shadow: 0 0 0 3px var(--clr-surface-invert-24);
  }
  &::placeholder {
    font-size: var(--fs-body-md);
    color: var(--clr-text-label);
  }
}
