@use "../abstracts" as *;

.--blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.--mg-auto {
  margin: 0 auto;
}
.--of-h {
  overflow: hidden;
}
.--fm-en {
  font-family: "Archivo", sans-serif;
}
.--fm-ko {
  font-family: "Pretendard", sans-serif;
}
.--fw-100 {
  font-weight: 100;
}
.--fw-200 {
  font-weight: 200;
}
.--fw-300 {
  font-weight: 300;
}
.--fw-400 {
  font-weight: 400;
}
.--fw-500 {
  font-weight: 500;
}
.--fw-600 {
  font-weight: 600;
}
.--fw-700 {
  font-weight: 700;
}
.--fw-800 {
  font-weight: 800;
}
.--fw-900 {
  font-weight: 900;
}

.--card {
  padding: fluid(16, 24) fluid(20, 40);
  border: 1px solid var(--clr-border-main);
}
.--num {
  width: fluid(32, 48);
  height: fluid(32, 48);
  border-radius: 4rem;
  flex-shrink: 0;
  @include flex-center();
  &__outline {
    &--white {
      border: 1px solid var(--clr-border-main);
    }
  }
}
.--signature {
  font-size: var(--body-xl-fs);
  font-weight: 600;
  span {
    font-weight: 700;
    font-size: var(--heading-xs-fs);
  }
}
.--text-line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    background: var(--clr-primary-disabled);
    z-index: -1;
  }
}
.--carrers {
  > ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    > li {
    }
  }
  h4 {
    padding-bottom: fluid(8, 16);
    border-bottom: 1px solid var(--clr-border-main);
  }
}
.--section-title-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include mq(lg) {
    flex-direction: column;
    align-items: flex-start;
    gap: fluid(10, 24);
  }
  p {
    padding-top: fluid(8, 16);
    color: var(--clr-text-body);
  }
}
.--listing-table {
  table {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }
  thead {
    background: var(--clr-surface-light);
    position: sticky;
    top: 0;
    z-index: 1;
    th {
      padding: 1rem;
      &:nth-child(2) {
        text-align: start;
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid var(--clr-border-light);
      td {
        padding: 1rem;
        &:nth-child(2) {
          text-align: start;
        }
      }
    }
  }
}
.--box {
  background: var(--clr-surface-main);
  padding: fluid(20, 28) fluid(28, 36);
}
.--rd-icon {
  width: fluid(36, 48);
  height: fluid(36, 48);
  @include flex-center();
  lord-icon {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }

  &-big {
    width: fluid(40, 64);
    height: fluid(40, 64);
  }
}
.--cnt {
  padding-top: fluid(40, 64);
}
.--t-center {
  text-align: center;
}
.--t-start {
  text-align: start;
}
.--t-end {
  text-align: end;
}
.--logo-box {
  width: fluid(64, 80);
  height: fluid(64, 80);
  border-radius: 8rem;
  overflow: hidden;
  border: 1px solid var(--clr-border-main);
  img {
  }
}
.--tag {
  color: var(--clr-primary-text);
  background: var(--clr-primary-main);
  padding: fluid(6, 8) fluid(12, 14);
  border-radius: 3rem;
  font-size: fluid(12, 14);
  display: inline-block;
}

.--list-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}
