@use "./functions" as *;

$spacings: (
  section: (
    xl: fluid(82, 164),
    lg: fluid(64, 120),
    md: fluid(40, 80),
    sm: fluid(32, 64),
    xs: fluid(24, 48),
  ),
  radius: (
    xl: fluid(24, 48),
    lg: fluid(16, 32),
    md: fluid(12, 24),
    sm: fluid(8, 16),
    xs: fluid(4, 8),
  ),
  pd: (
    xl: fluid(24, 48),
    lg: fluid(16, 32),
    md: fluid(12, 24),
    sm: fluid(8, 16),
    xs: fluid(4, 8),
  ),
  mg: (
    3xl: fluid(48, 80),
    2xl: fluid(32, 64),
    xl: fluid(24, 48),
    lg: fluid(16, 32),
    md: fluid(12, 24),
    sm: fluid(8, 16),
    xs: fluid(4, 8),
  ),
  gap: (
    3xl: fluid(48, 80),
    2xl: fluid(32, 64),
    xl: fluid(24, 48),
    lg: fluid(16, 32),
    md: fluid(12, 24),
    sm: fluid(8, 16),
    xs: fluid(4, 8),
  ),
);
