@use "./primitives" as *;

$dark-theme: (
  base: (
    white: $clr-base-white,
    black: $clr-base-black,
  ),
  surface: (
    4: $clr-black-dp-4,
    8: $clr-black-dp-8,
    16: $clr-black-dp-16,
    24: $clr-black-dp-24,
    28: $clr-black-dp-28,
    36: $clr-black-dp-36,
    40: $clr-black-dp-40,
    48: $clr-black-dp-48,
    54: $clr-black-dp-54,
    60: $clr-black-dp-60,
    72: $clr-black-dp-72,
    80: $clr-black-dp-80,
    88: $clr-black-dp-88,
    96: $clr-black-dp-96,
    100: $clr-black-dp-100,
  ),
  surface-invert: (
    4: $clr-white-dp-4,
    8: $clr-white-dp-8,
    16: $clr-white-dp-16,
    24: $clr-white-dp-24,
    28: $clr-white-dp-28,
    36: $clr-white-dp-36,
    40: $clr-white-dp-40,
    48: $clr-white-dp-48,
    54: $clr-white-dp-54,
    60: $clr-white-dp-60,
    72: $clr-white-dp-72,
    80: $clr-white-dp-80,
    88: $clr-white-dp-88,
    96: $clr-white-dp-96,
    100: $clr-white-dp-100,
  ),
  background: (
    primary: $clr-base-black,
    secondary: $clr-gray-900,
    invert: $clr-base-white,
    white: $clr-base-white,
    black: $clr-base-black,
    category: $clr-white-dp-8,
    list: $clr-base-white,
    radio: $clr-base-white,
  ),
  text: (
    title: $clr-base-white,
    body: $clr-base-white,
    label: $clr-gray-400,
    white: $clr-base-white,
    black: $clr-base-black,
    invert: $clr-base-black,
    radio: $clr-base-white,
    primary: $clr-primary-600,
    secondary: $clr-secondary-600,
    orchestra: $clr-orchestra,
    wheelchair: $clr-wheelchair,
    family: $clr-family,
  ),
  border: (
    base: $clr-base-black,
    invert: $clr-base-white,
    primary: $clr-primary-600,
    secondary: $clr-secondary-600,
    white: $clr-base-white,
    black: $clr-base-black,
    radio: $clr-gray-700,
  ),
  primary: (
    on: $clr-base-white,
    main: $clr-primary-600,
    light: $clr-primary-300,
    dark: $clr-primary-700,
    darker: $clr-primary-900,
  ),
  secondary: (
    on: $clr-base-white,
    main: $clr-secondary-600,
    light: $clr-secondary-400,
    dark: $clr-secondary-800,
    darker: $clr-secondary-950,
  ),
);

$light-theme: (
  base: (
    white: $clr-base-white,
    // 반대
    black: $clr-base-black,
    // 반대
  ),
  surface: (
    4: $clr-white-dp-4,
    8: $clr-white-dp-8,
    16: $clr-white-dp-16,
    24: $clr-white-dp-24,
    28: $clr-white-dp-28,
    36: $clr-white-dp-36,
    40: $clr-white-dp-40,
    48: $clr-white-dp-48,
    54: $clr-white-dp-54,
    60: $clr-white-dp-60,
    72: $clr-white-dp-72,
    80: $clr-white-dp-80,
    88: $clr-white-dp-88,
    96: $clr-white-dp-96,
    100: $clr-white-dp-100,
  ),
  surface-invert: (
    4: $clr-black-dp-4,
    8: $clr-black-dp-4,
    16: $clr-black-dp-16,
    24: $clr-black-dp-24,
    28: $clr-black-dp-28,
    36: $clr-black-dp-36,
    40: $clr-black-dp-40,
    48: $clr-black-dp-48,
    54: $clr-black-dp-54,
    60: $clr-black-dp-60,
    72: $clr-black-dp-72,
    80: $clr-black-dp-80,
    88: $clr-black-dp-88,
    96: $clr-black-dp-96,
    100: $clr-black-dp-100,
  ),
  background: (
    primary: $clr-base-white,
    secondary: $clr-gray-100,
    invert: $clr-base-black,
    white: $clr-base-white,
    black: $clr-base-black,
    category: $clr-gray-200,
    list: $clr-gray-500,
    radio: $clr-primary-600,
  ),
  text: (
    title: $clr-base-black,
    body: $clr-base-black,
    label: $clr-gray-600,
    white: $clr-base-white,
    black: $clr-base-black,
    radio: $clr-primary-600,
    invert: $clr-base-white,
    primary: $clr-primary-600,
    secondary: $clr-secondary-600,
  ),
  border: (
    base: $clr-base-white,
    primary: $clr-primary-400,
    secondary: $clr-secondary-300,
    invert: $clr-base-black,
    white: $clr-base-white,
    black: $clr-base-black,
    radio: $clr-gray-300,
  ),
  primary: (
    on: $clr-base-white,
    main: $clr-primary-600,
    light: $clr-primary-300,
    dark: $clr-primary-700,
    darker: $clr-primary-900,
  ),
  secondary: (
    on: $clr-base-white,
    main: $clr-secondary-600,
    light: $clr-secondary-400,
    dark: $clr-secondary-800,
    darker: $clr-secondary-950,
  ),
);

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);
