@use "./functions" as *;

$DEFAULT_LOCALE: "ko";

$font-families: (
  ko: (
    display: "Pretendard",
    heading: "Pretendard",
    body: "Pretendard",
  ),
  en: (
    display: "Pretendard",
    heading: "Pretendard",
    body: "Pretendard",
  ),
);

$breakpoints: (
  3xl: 1920,
  2xl: 1640,
  xl: 1320,
  lg: 1024,
  md: 768,
  sm: 544,
  xs: 375,
);
