@use "sass:meta";
@use "sass:map";
@use "./tokens" as token;

$variables: (
  default: (
    header: (
      height: 9.6rem,
      bg: var(--clr-surface-100),
      bg-active: var(--clr-surface-100),
      menu-bg: var(--clr-surface-invert-8),
      menu-bg-active: var(--clr-surface-16),
      toggle-bg: var(--clr-surface-invert-8),
    ),
    txt: (
      orchestra: #d38a1d,
      wheelchair: #b0b67b,
      family: #b174b2,
    ),
    public-trans: (
      bus: (
        city: #08bedb,
        metropolitan: #b5532e,
        airport: #f5a623,
        night: #4b0082,
        seoul: #03a200,
      ),
      metro: (
        line-6: #cd7d30,
      ),
    ),
    modal: (
      background: var(--clr-background-secondary),
      blur: 40px,
    ),
    card: (
      background: var(--clr-surface-invert-8),
      active-background: var(--clr-surface-invert-16),
    ),
    faq: (
      background: var(--clr-surface-invert-8),
    ),
    box: (
      background: var(--clr-surface-invert-8),
    ),
    tag: (
      background: var(--clr-surface-invert-8),
    ),
    button: (
      background: var(--clr-surface-invert-88),
    ),
    category: (
      background: var(--clr-background-category),
    ),
    input: (
      background: var(--clr-surface-invert-8),
      height: 5.5rem,
    ),
    table: (
      head-background: var(--clr-surface-invert-8),
      sub-head-background: var(--clr-surface-invert-8),
      body-background: var(--clr-surface-invert-4),
    ),

    lnb: (
      height: 5.5rem,
    ),
    tran: (
      short: 0.15s ease-in-out,
      long: 0.3s ease-in-out,
      header: 0.54s cubic-bezier(0.6, 0.05, 0.15, 1),
      button: ease all 0.3s,
      swiper: 0.35s cubic-bezier(0.6, 0, 0.4, 1),
      card: ease all 0.3s,
      modal: ease all 0.3s,
      txt: ease all 0.4s,
      bg: ease all 0.5s,
      input: 0.15s ease-in-out,
      line: ease all 3s,
      intro: 1.2s cubic-bezier(0.6, 0, 0.4, 1),
    ),
    z-index: (
      backdrop: -1,
      header-menu: 2,
      header: 100002,
      search: 100002,
      intro: 100006,
      visual-txt: 10,
      visual-bg: 9,
      button: 20,
      tooltip: 100003,
      cursor: 100005,
      top-btn: 100004,
    ),
  ),
  2xl: (),
  xl: (),
  lg: (),
  md: (
    header: (
      height: 8rem,
    ),
  ),
  sm: (),
);

$breakpoints: map.get(token.$application, "point");
