@use "../abstracts" as *;

%btn {
  @include flex-center();
  border-radius: 0.6rem;
  padding: fluid(8, 12) fluid(16, 24);
  transition: var(--tran-15);
}
.no-btn-sm {
  padding: fluid(6, 8) fluid(12, 16);
}
.no-btn-md {
  padding: fluid(8, 12) fluid(16, 24);
}
.no-btn-lg {
  padding: fluid(12, 16) fluid(24, 32);
}

.no-btn-prev {
  @extend %btn;
  @include button(primary);
  display: inline-flex;
  &-wrap {
    @include flex-center();
  }
}

.no-btn-primary {
  @extend %btn;
  @include button(primary);
}
.no-btn-secondary {
  @extend %btn;
  @include button(secondary);
}
.no-btn-gray {
  @extend %btn;
  @include button(gray);
}
.no-btn-black {
  @extend %btn;
  @include button(black);
}
.no-btn-white {
  @extend %btn;
  @include button(white);
}

.no-btn-swiper {
  width: fluid(30, 48);
  height: fluid(30, 48);
  border-radius: 4.8rem;
  font-size: fluid(14, 20);
  transition: var(--tran-15);
  &::after {
    display: none;
  }
  &__white {
    background: var(--clr-base-white);
    color: var(--clr-primary-main);
    &:hover {
      background: var(--clr-primary-main);
      color: var(--clr-base-white);
    }
  }
  &__primary {
    background: var(--clr-primary-main);
    color: var(--clr-primary-text);
  }
}

.no-btn-outline {
  font-family: "Archivo", sans-serif;
  display: inline-flex;
  border-radius: 5rem;
  a {
    @include flex-center();
    display: inline-flex;
    font-size: fluid(15, 18);
    transition: var(--tran-45);
    padding: fluid(8, 16) fluid(16, 24);
    &:hover {
      div {
        transform: scale(1);
        margin-right: fluid(8, 16);
      }
    }
    div {
      width: fluid(16, 30);
      height: fluid(16, 30);
      border-radius: 3rem;
      transition: var(--tran-45);
      @include flex-center();
      background: var(--clr-base-white);
      transform: scale(0.2);
      i {
        font-size: fluid(12, 15);
        color: var(--clr-text-heading-invert);
      }
    }
  }
  &__white {
    border: 1px solid var(--clr-border-main);
  }
}

.no-btn-header {
  @extend %btn;
  border: 1px solid var(--clr-base-white);
  border-radius: 3rem;
  gap: var(--gap-sm);
  transition: var(--tran-45);
}
.swiper-pagination-bullet-active {
  background: var(--clr-primary-main);
}

.no-top-btn {
  position: fixed;
  z-index: 100000;
  bottom: 4%;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-md);
  &.is_mathed {
    button {
      background: var(--clr-base-white);
      color: var(--clr-primary-main);
    }
  }
  &.active {
    button {
      opacity: 1;
      transform: scale(1);
    }

    a {
      transform: scale(1);
      opacity: 1;
    }
  }

  button {
    width: fluid(48, 64);
    height: fluid(48, 64);
    border-radius: 8rem;
    background: var(--clr-primary-main);
    color: var(--clr-primary-text);
    transition: var(--tran-45);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:hover {
      transform: scale(1.05);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .arrow {
      position: relative;
      i {
      }
    }

    i {
      font-size: var(--fs-heading-md);
      color: var(--clr-text-black);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    li {
      a {
        background: var(--clr-surface-main);
        color: var(--clr-primary-main);
        width: fluid(48, 64);
        height: fluid(48, 64);
        border-radius: 8rem;
        position: relative;
        transform: scale(0);
        @include flex-center();
        opacity: 0;
        transition: var(--tran-45);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        img {
          width: fluid(24, 36);
          height: fluid(24, 36);
        }
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
      }
    }
  }
}
