@use "../abstracts" as *;
@use "../components/button" as *;

%base-input {
  border-radius: 0.8rem;
  height: var(--input-height);
  border: 1px solid var(--clr-surface-invert-72);
  width: 100%;
  padding: 0 1.6rem;
  outline: none;
  background: transparent;
  transition: var(--tran-input);
  font-size: var(--fs-body-md);
  &:focus {
    border-color: var(--clr-surface-invert-88);
    box-shadow: 0 0 0 3px var(--clr-surface-invert-24);
  }
  &:hover {
    box-shadow: 0 0 0 3px var(--clr-surface-invert-24);
  }
  &::placeholder {
    font-size: var(--fs-body-md);
    color: var(--clr-text-label);
  }
}

.no-radio-swiper {
  overflow: inherit;
  .swiper-wrapper {
    .swiper-slide {
      width: auto;
      label {
      }
    }
  }
  // &-2 {
  //   overflow: inherit;
  //   > div {
  //     label {
  //       width: 12rem;
  //       display: block;
  //     }
  //   }
  //   .swiper-slide {
  //   }
  // }
}
.date-list {
  position: absolute;
  top: calc(var(--input-height) + 0.5rem);
  left: 0;
  width: 100%;
  background: var(--clr-surface-100);
  border-radius: 0.8rem;
  border: 1px solid var(--clr-surface-invert-16);
  padding: 0.8rem 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  transform: translateY(10%);
  opacity: 0;
  visibility: hidden;
  transition: var(--tran-input);
  z-index: 10;
  height: 20rem;
  overflow: auto;
  &.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  input {
    display: none;
  }
  span {
    display: flex;
    align-items: center;
    padding: 0.4rem 1.6rem;
    font-size: var(--fs-body-md);
    height: calc(var(--input-height) * 0.75);
    width: 100%;
    cursor: pointer;
  }
}

.no-form {
  &-group {
  }
  &-search {
    position: relative;

    width: fluid(240, 480);
    @include mq(md) {
    }

    input {
      padding-right: 4.8rem;
      box-shadow: none;
      width: 100%;
      @extend %base-input;
    }
    &-container {
      @include flex-center();
      .no-form-group {
        width: auto;
        @include mq(sm) {
          width: 100%;
        }
      }
    }
    &-icon {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  /*
  &-file {
    display: flex;
    @include hasRadius(6px);
    @extend %base-input;
    padding: 0;
    .field-file {
      display: none;
    }
    //File button
    .btn {
      background: var(--clr-primary-main);
      color: var(--clr-primary-on);
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %btn;
      border-radius: 0;
      width: 10rem;
      cursor: pointer;
      &:hover {
        background: darken(#00a0d9, 13%);
        color: #fff;
      }
    }
    //Fake input file
    .fake-field-file {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;
    }
  }*/

  &-checkbox {
    @extend %base-input;
    padding: 0;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    padding: 0;
    padding: 1rem 1.8rem;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 1rem;

    input[type="checkbox"] {
      display: none;
      &:checked + span > div .no-form-checkbox__box {
        background: var(--clr-primary-main);
        color: var(--clr-primary-on);
        transform: scale(1);
      }
      &:checked + span > div {
        border: 1px solid transparent;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: var(--gp-2xs);
      > div {
        border: 1px solid var(--clr-surface-invert-100);
        border-radius: 50%;
        width: 2.4rem;
        height: 2.4rem;
        overflow: hidden;
        transition: var(--tran-input);
      }
    }

    label {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__box {
      @include flex-center();
      border-radius: 50%;
      overflow: hidden;
      transition: var(--tran-input);
      transform: scale(0);
      width: 100%;
      height: 100%;
      i {
      }
    }
  }
  &-captcha {
    input {
      @extend %base-input;
    }
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    &__img {
      width: 14rem;
      flex-shrink: 0;
      border: 1px solid var(--clr-surface-invert-16);
      background: #292929;
      height: var(--input-height);
      @include flex-center();
      @include hasRadius(0.8rem);
    }
  }
  &-file {
    display: flex;
    @include hasRadius(6px);
    @extend %base-input;
    padding: 0;
    width: 20rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include mq(md) {
      width: 100%;
    }
    .field-file {
      display: none;
    }
    //File button
    .btn {
      background: var(--clr-primary-main);
      color: var(--clr-primary-on);
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %btn;
      border-radius: 0;
      width: 10rem;
      opacity: 0;
      cursor: pointer;
      &:hover {
        background: darken(#00a0d9, 13%);
        color: #fff;
      }
    }
    //Fake input file
    .fake-field-file {
      display: flex;
      align-items: center;
    }
  }
  &-container {
    display: flex;
    gap: var(--gp-md);
    flex-direction: column;
    > div {
    }

    @include mq(md) {
      > div {
      }
    }

    &.--column {
      > div {
        width: 100%;
      }
    }
  }
  &-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gp-md);
    @include mq(md) {
      flex-direction: column;
    }
  }
  &-filter {
    display: flex;
    align-items: center;
    gap: var(--gp-md);
    justify-content: space-between;
    @include mq(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-feedback {
    color: var(--clr-text-desc);
    font-size: var(--fs-body-sm);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 0.8rem;

    i {
      padding-top: 0.3rem;
    }
  }
  &-box {
    background-color: var(--clr-gray-light);
    padding: fluid(48, 64) fluid(24, 32);
    border-radius: 1.2rem;
  }
  &-date {
    @include mq(sm) {
      width: 100%;
    }
    &-box {
      position: relative;
    }
    display: flex;
    align-items: center;
    gap: var(--app-gutter);
    width: 20rem;
    justify-content: space-between;
    height: var(--input-height);
    &.active {
      > i {
        transform: rotate(180deg);
      }
    }
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    span {
      font-size: var(--fs-body-lg);
    }
    i {
      font-size: var(--fs-body-xl);
      transition: var(--tran-input);
    }
  }
  &-text {
    display: flex;
    margin-bottom: 0.8rem;
    gap: 0.2rem;
    font-size: var(--fs-body-lg);
  }
  &-label {
  }
  &-control {
    position: relative;
    input,
    textarea {
      @extend %base-input;
    }
    textarea {
      padding: 1.6rem;
      height: 30rem;
    }
  }
  &-radio {
    input[type="radio"] {
      display: none;
    }

    &__box {
      width: fluid(18, 20);
      height: fluid(18, 20);
      border-radius: 50%;
      @include flex-center();
      transition: var(--tran-input);
      position: absolute;
      top: 0;
      right: 0;
      transform: scale(0) translateY(-50%);
      background: var(--clr-primary-dark);
      color: var(--clr-primary-on);
      font-size: var(--fs-body-sm);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &-line {
      height: var(--input-height);
      position: relative;
      display: flex;
      gap: 0;
      label {
        height: 100%;
        @include mq(sm) {
          width: 100%;
        }
      }
      span {
        background: transparent;
        border: none;
        overflow: hidden;
        border-radius: 0px;
        @include flex-center();
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: var(--tran-input);
        height: 100%;
        width: fluid(80, 120);
        opacity: 0.64;
        @include mq(sm) {
          width: 100%;
        }
      }
      input {
        &:checked + span {
          opacity: 1;
          font-weight: 700;
        }
      }
      &-rect {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12rem;
        background: var(--clr-background-invert);
        height: 3px;
      }
    }
    &-circle {
      @include mq(md) {
        flex-wrap: wrap;
      }
      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 1.6rem;
        gap: fluid(8, 10);
        cursor: pointer;
        transition: var(--tran-input);
        @include hasRadius(var(--input-height));
        overflow: inherit;
        border: 1px solid var(--clr-surface-invert-100);
        p {
        }
      }
      input {
        &:checked + span {
          background: var(--clr-primary-main);
          color: var(--clr-primary-on);
          border: 1px solid transparent;
          & > div {
            transform: scale(1) translateY(-50%);
            i {
            }
          }
        }
      }
    }
  }

  &-head {
    width: 100%;

    &-wrap {
      border-bottom: 1px solid var(--clr-surface-invert-16);
    }
    &.sticky {
      position: sticky;
      top: var(--header-height);
      background: var(--clr-background-primary);

      z-index: 10;
      border-bottom: 1px solid var(--clr-surface-invert-16);
    }
    @include mq(md) {
      .no-form-group {
        width: 100%;
      }
    }
  }

  /*
  &-radio {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    label {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
      &:checked + .no-form-radio__box {
        span {
          transform: scale(1);
        }
      }
    }

    &__box {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      @include flex-center();
      border: 1px solid var(--clr-gray-main);
      background-color: var(--clr-base-white);

      span {
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        transform: scale(0);
        transition: var(--tran-input);
        background-color: var(--clr-primary-main);
      }
    }
  }*/

  &-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-top: var(--pd-lg);

    &.--end {
      justify-content: flex-end;
    }

    &.--action {
      button {
        width: 100%;
      }
    }

    &.--auth {
      button {
        height: var(--input-height);
      }
    }
  }
  &-password {
    position: relative;

    .no-pwd-eye {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      @include flex-center();

      &:hover {
        background-color: var(--clr-gray-light);
      }
    }

    input {
      padding-right: 4.8rem;
    }
  }
}
