@use "../abstracts/" as *;

input,
textarea {
  padding: fluid(15, 18);
  height: fluid(48, 58);
  box-shadow: var(--clr-input-main);
  transition: var(--tran-45);
  width: 100%;
  color: var(--clr-text-placeholder);
  border-radius: 0.6rem;
  font-family: var(--family-body);
  font-size: fluid(14, 15);
}

.no-form {
  &-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }
  &-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-md);
    @include mq(md) {
      grid-template-columns: 1fr;
    }
  }
  &-text {
    height: fluid(160, 300);
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    label {
      color: var(--clr-text-label);
      font-size: fluid(13, 15);
    }
  }
  &-control {
    &:hover {
      box-shadow: var(--clr-input-hover);
    }
  }
  &-checkbox {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    .check {
      display: none;
    }
    input[id="check"] {
      &:checked + label {
        border: none;
        background-image: url(/resource/images/form/CheckBox.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    input + label {
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      cursor: pointer;
      flex-shrink: 0;
      background: var(--clr-base-white);
      border: 1px solid #ddd;
      border-radius: 0.2rem;
    }
    button {
      font-weight: 600;
    }
  }
  &-privacy {
    &-box {
      background: var(--clr-surface-light);
      padding: fluid(12, 24) fluid(20, 30);
      height: fluid(120, 400);
      overflow: auto;
      font-size: fluid(13, 15);
    }
  }
  &-captcha {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    img {
      width: 12rem;
      height: var(--input-height);
      border-radius: 0.6rem;
      object-fit: contain;
      background: var(--clr-primary-main);
    }
  }
  &-action {
    button {
      width: 100%;
      background: var(--clr-primary-main);
      color: var(--clr-primary-text);
      height: var(--input-height);
      border-radius: 0.6rem;
      transition: var(--tran-15);
      &:hover {
        background: var(--clr-primary-hover);
      }
    }
  }
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: fluid(8, 12);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  input {
    display: none;
    &:checked + span {
      background: var(--clr-primary-main);
      color: var(--clr-base-white);
    }
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    padding: 1.2rem 2rem;
    transition: var(--tran-15);
    background: #f9fafc;
    gap: 1rem;
    height: var(--input-height);
    &:hover {
      background: var(--clr-primary-main);
      color: var(--clr-base-white);
    }
  }
}
