@use "../abstracts" as *;

#modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  z-index: 100000000;
  will-change: opacity;
  transition: 0.32s 150ms cubic-bezier(0.4, 0, 0.6, 1);
  transition-property: opacity, visibility;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  word-break: break-all;
  &.visible {
    opacity: 1;
    visibility: visible;
    > div {
      > ul {
        > li {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .modal-close-btn {
      opacity: 1;
      visibility: visible;
    }
  }
  > div {
    display: none;
    &.visible {
      display: block;
    }
    > ul {
      > li {
        width: 100%;
        margin: 0 auto;
        background: var(--clr-background-secondary);
        opacity: 0;
        max-width: 100rem;
        visibility: hidden;
        transition: var(--tran-modal);
        overflow: auto;
        display: flex;
        border-radius: fluid(18, 20);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
        margin-bottom: 4%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: none;
        &.visible {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        @include mq(lg) {
          width: 80%;
          margin-top: 10%;
          margin-bottom: 10%;
        }
        @include mq(md) {
          width: 90%;
        }
        .img {
          overflow: hidden;
        }
        .txt {
          padding: 4rem 6rem 8rem;
          @include mq(lg) {
            padding: 2rem 3rem 4rem;
          }
          @include mq(md) {
            padding: 1.8rem 2.4rem 2.4rem;
          }
          .info {
            h3 {
              font-size: var(--fs-body-xl);
              font-weight: var(--fw-semibold);
            }
            p {
              font-size: var(--fs-body-md);
            }
            i {
              font-size: var(--fs-heading-md);
            }
            .--card-icon {
              font-size: inherit;
            }
          }
          .title {
            border-bottom: 1px solid var(--clr-surface-invert-24);
          }
        }
        img {
          max-height: 50rem;
          transform: scale(1.02);
        }
      }
    }
  }
}
.no-modal-swiper-pagination {
  span {
    background: var(--clr-background-white);
  }
}

.modal-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
  transition: 0.32s 150ms cubic-bezier(0.4, 0, 0.6, 1);
  transition-property: opacity, visibility;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.modal-close-btn {
  &-container {
    position: absolute;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4%;
    z-index: 10;
    @include mq(lg) {
      width: 80%;
      margin-top: 10%;
      margin-bottom: 10%;
    }
    @include mq(md) {
      width: 90%;
    }
  }
  position: fixed;
  top: 2rem;
  right: 2rem;
  transition: var(--tran-modal);
  opacity: 0;
  visibility: hidden;
  z-index: 1000000;
  width: fluid(32, 48);
  height: fluid(32, 48);
  border-radius: fluid(32, 48);
  background: var(--clr-background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: var(--clr-text-black);
  &:hover {
    opacity: 0.6;
  }
  &.visible {
    opacity: 1;
    bottom: 2vh;
    visibility: visible;
  }
}
