@use "../abstracts" as *;

.no-prevnext {
  .no-prevnext-link {
    a {
      display: inline-flex;
      align-items: center;
      gap: 4.8rem;
      @include mq(md) {
        gap: 2.4rem;
      }

      &:hover {
        span {
          color: var(--clr-primary-main);
          text-decoration: underline;
        }
      }

      strong {
        color: var(--clr-text-desc);
      }
      span {
        flex: 1;
        @include line-clamp(1);
      }
    }
  }
}
