@use "../abstracts/" as *;

.no-sub-nav {
  height: var(--nav-height);
  border-bottom: 1px solid var(--clr-border-main);
  position: sticky;
  top: var(--header-height);
  background: var(--clr-surface-main);
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
  &-swiper {
    > ul {
      > li {
        width: auto;
        a {
          height: 100%;
          @include flex-center();
          position: relative;
          font-weight: 500;
          &:hover {
            &::before {
              width: 100%;
            }
            color: var(--clr-primary-main);
          }
          &.active {
            &::before {
              width: 100%;
            }
            color: var(--clr-primary-main);
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0%;
            background: var(--clr-primary-main);
            transition: var(--tran-45);
          }
        }
      }
    }
  }
}
