@use "../abstracts" as *;

#tooltip {
  background: rgba(255, 255, 255, 0.96);
  @include blur(20px);
  color: var(--clr-text-white);
  padding: 2.4rem;
  @include hasRadius(12px);
  position: absolute;
  opacity: 0; /* 기본값: 숨김 상태 */
  transform: translateY(-10px); /* 위로 살짝 이동한 상태 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 트랜지션 효과 */
  z-index: var(--z-index-tooltip);
  box-shadow: 0 0 16px 0 rgba(var(--clr-surface-invert-100), 0.24);
  pointer-events: none;

  img {
    height: 4.8rem;
    width: auto;
  }
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.96);
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

[data-popper-arrow] {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.96);
  transform: rotate(45deg);
}

[data-popper-placement="top"] [data-popper-arrow] {
  bottom: -4px;
}

[data-popper-placement="bottom"] [data-popper-arrow] {
  top: -4px;
}

[data-popper-placement="left"] [data-popper-arrow] {
  right: -4px;
}

[data-popper-placement="right"] [data-popper-arrow] {
  left: -4px;
}
